<form action="/cans" method="post">

  <label>How many canned goods are you willing to part with? :
    <input type="integer" name="num_cans" placeholder="4" required>
  </label>
<break>
<label>Have something to put them in (Yes/No) ? :
    <input type="text" name="container" placeholder="Yes" required>
  </label>
<break>
  <label> Pickup Date(Dec.20-Jan.4) / Time :
    <input type="datetime-local" name="pickup_time" required>
	</label>
<break>
	<label>Pickup Location:
    <input type="text" name="pickup_location" placeholder="1234 N 1st St" required>
	</label>

  <input type="submit" value="Submit!">

</form>