<h2> Deleting your canned donation will leave your neighbors malnourished </h2>

<form action="/cannedfood/delete" method="post">
	<input type="hidden" name="_method"  value="delete" >
	<input type="hidden" value="<%= @can_to_delete.id %>" name="can_to_delete_id">
	<input type="submit" value="Delete :(">
</form>
<a href="/profile/thankyou">Cancel :D </a>


