<form action="/greeting/create" method="post">

  <label>What would you like to say? :
    <input class= "submission" type="text" name="body" placeholder="Warm Holiday Greeting..." required>
  </label>

  <input type="submit" value="Submit Greeting">

</form>