<!DOCTYPE html>
<html>
  <head>
    <title>Meals for Cheer</title>
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
      <h1>Meals for Cheer</h1>
      <nav>
 			 <ul>
      	<li><a href="/"> Home </a></li>
      	<li><a href="/logout"> Logout </a></li>
  			</ul>
      </nav>
    </header>
    <!-- anything that is in another view will be rendered @ yield  -->
      <%= yield %>
  </body>
</html>