<p>Welcome, <%= current_user.name%> and thank you for your generosity.</p>

<form action="/profile" method="post">

  <label>Whatcha Making? :
    <input type="text" name="name" placeholder="Mac N Cheese" required>
  </label>
<break>
  <label>How many people will your meal feed? :
    <input type="text" name="will_feed" placeholder="5" required>
  </label>
<break>
  <label> Pickup Date(Dec.20-Jan.4) / Time :
    <input type="datetime-local" name="pickup_time" required>
	</label>
<break>
	<label>Pickup Location:
    <input type="text" name="pickup_location" placeholder="1234 N 1st St" required>
	</label>

  <input type="submit" value="Submit Meal">

</form>