<p>Welcome, <%= current_user.name%> and thank you for signing up.</p>

<form action="/create_meal" method="post">

  <label>Whatcha Making? :
    <input type="text" name="name">
  </label>

  <label>How many people will your meal feed? :
    <input type="integer" name="will_feed">
  </label>

  <label> Pickup Time:
    <input type="datetime" name="pickup_time">
	</label>

	<label>Pickup Location:
    <input type="text" name="pickup_location">
	</label>

  <input type="submit" value="create event">

</form>