body {
	background-color: #A22C27;
	border: 2px solid green;
}

h1{
	color: #FDE0B7;
	text-align: center;
	font-size: 40px;
}

header{
	
}

.welcome{
	border: 2px solid blue;
}

.useremeals, .usercans, .usergreetings{

}

nav{

}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;	
	border: 2px solid teal;
}

nav ul li{
	float: left;
	width: 16.66%;
	text-align: center;
}

nav ul li a{
	padding: 10px;
	display: block;
	border-right: 4px solid white;
	color: white;
	text-decoration: none;
}

